@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: large;
}
.container {
  width: 100%;
  padding: 0px 34px;
}
.mainCard {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 34px;
}
/***************  
 RESPONSIVE IMAGE

 */

@media only screen and (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
